@charset "utf-8";
/* CSS Document */
#zh_mainbox{
    width:100%;
    background:#f6f6f6;
    padding:100px 0;
}
#zh_main{
    width:982px;
    margin:0 auto;
    background:url(../images/shop_bg.png) repeat-y;
    padding-bottom:1px;
}
/*����*/
#zh_leftside{
    width:196px;
    float:left;
}
.zh_leftsum{
    width:196px;
}
.zh_leftsum li{
    width:196px;
    height:52px;
    line-height:52px;
    text-indent:48px;
    position:relative;
    border-top:1px solid #eeeeee;
}
.zh_leftsum li .zh_ico1{
    position:absolute;
    top:15px;
    left:16px;
    width:22px;
    height:22px;
    background:url(../images/bg.png) no-repeat left -2120px;
}
.zh_leftsum li:hover .zh_ico1{
    background:url(../images/bg.png) no-repeat -241px -2120px;
}
.zh_leftsum li .zh_ico2{
    position:absolute;
    top:15px;
    left:16px;
    width:22px;
    height:22px;
    background:url(../images/bg.png) no-repeat left -2169px;
}
.zh_leftsum li:hover .zh_ico2{
    background:url(../images/bg.png) no-repeat -241px -2169px;
}
.zh_leftsum li .zh_ico3{
    position:absolute;
    top:15px;
    left:16px;
    width:22px;
    height:22px;
    background:url(../images/bg.png) no-repeat left -2218px;
}
.zh_leftsum li:hover .zh_ico3{
    background:url(../images/bg.png) no-repeat -241px -2218px;
}
.zh_leftsum li .zh_ico4{
    position:absolute;
    top:18px;
    left:16px;
    width:22px;
    height:22px;
    background:url(../images/bg.png) no-repeat left -2274px;
}
.zh_leftsum li:hover .zh_ico4{
    background:url(../images/bg.png) no-repeat -241px -2274px;
}
.zh_leftsum li .zh_ico5{
    position:absolute;
    top:18px;
    left:16px;
    width:22px;
    height:22px;
    background:url(../images/bg.png) no-repeat left -2330px;
}
.zh_leftsum li:hover .zh_ico5{
    background:url(../images/bg.png) no-repeat -241px -2330px;
}
.zh_leftsum li.li2 .zh_ico5{
    background:url(../images/bg.png) no-repeat -241px -2330px;
}
.zh_leftsum li.li2 .zh_ico1{
    background:url(../images/bg.png) no-repeat -241px -2120px;
}
.zh_leftsum li.li2 .zh_ico4{
    background:url(../images/bg.png) no-repeat -241px -2274px;
}
.zh_leftsum li.li2 .zh_ico2{
    background:url(../images/bg.png) no-repeat -241px -2169px;
}
.zh_leftsum li.li2 .zh_ico3{
    background:url(../images/bg.png) no-repeat -241px -2218px;
}
.zh_leftsum li a{
    height:52px;
    font-size:14px;
    display:block;
}
.zh_leftsum li a:hover{
    background:#e64346;
    color:#fff;
    text-decoration:none;
}
.zh_leftsum li.li2 .zh_ico5{
    background:url(../images/bg.png) no-repeat -241px -2330px;
}

.zh_leftsum li.li2 {
    background:#e64346;
}
.zh_leftsum li.li2 a{
    color:#fff;
}
.zh_leftsum2{
    width:196px;
}
.zh_leftsum2 li{
    height:34px;
    line-height:34px;
    text-indent:68px;
}
.zh_leftsum2 li a{
    height:34px;
    display:block;
    font-size:14px;
    color:#c5c5c5;
}
.zh_leftsum2 li a:hover{
    background:#fcecec url(../images/bg.png) no-repeat 178px -2356px;
    color:#e64346;
    text-decoration:none;
}
.zh_leftsum2 li.li2{
    background:#fcecec url(../images/bg.png) no-repeat 178px -2356px;
}
.zh_leftsum2 li.li2 a{
    color:#e64346;
}
/*����*/
#zh_rightside{
    width:780px;
    float:right;
    margin-top:10px;
}
.zh_rightsum1{
    width:780px;
    border-top:1px solid #f0f0f0;
    padding-bottom:26px;
}
.zh_rightsum1_tit{
    height:46px;
    line-height:46px;
    border-bottom:1px solid #e3e4e9;
    font-size:14px;
    text-indent:15px;
    position:relative;
}
.zh_rightsum1_tit ul{
    position:absolute;
    top:10px;
    left:100px;
    width:650px;
    text-indent:0;
    height:25px;
}
.zh_rightsum1_tit li{
    height:25px;
    line-height:25px;
    float:left;
    text-align:center;
    margin-left:5px;
    margin-right:5px;
}

.zh_rightsum1_tit li a{
    padding-left: 5px;
    padding-right: 5px;
    height:25px;
    display:block;
}
.zh_rightsum1_tit li a:hover{
    background-color: #274776;
    color:#fff;
    text-decoration:none;
}
.zh_rightsum1_tit li.li2 {
    background-color: #274776;
}
.zh_rightsum1_tit li.li2 a{
    color:#fff;
}
.zh_rightsum1_tit span{
    padding-right:15px;
}
#zh_bot{
    width:1000px;
    height:1px;
    overflow:hidden;
    background:url(../images/bot.jpg) no-repeat;
    margin:0 auto;
}
.zh_righttable1{
    width:748px;
    margin:0 auto;
    color:#4f5575;
    border-collapse:collapse;
}
.zh_righttable1 th{
    line-height:32px;
    background:#f3f3f3;
    font-weight:normal;
    padding-left:25px;
    text-align:left;
}
.zh_righttable1 td{
    line-height:42px;
    color:#434a6c;
    padding-left:25px;
}
.zh_righttable1 .tr_bg{
    background:#f6f6f6;
}
.zh_rightfenye{
    width:750px;
    text-align:right;
    height:16px;
    line-height:16px;
    margin-top:40px;
}
.zh_rightfenye a{
    padding:0 5px;
}
.zh_rightfenye a:hover{
    background:#e4393c;
    color:#fff;
    text-decoration:none;
}
.zh_rightfenye span a{
    background:#e4393c;
    color:#fff;
}
.zh_rightsum1_text{
    width:736px;
    margin:0 auto 20px auto;
    background:#fffdee;
    padding:15px 0;
}
.zh_rightsum1_text p{
    line-height:21px;
    padding-left:20px;
    color:#e84242;
}
.zh_rightsum1_text p.p3{
    text-indent:20px;
}
.zh_rightsum1_text p.p2{
    height:26px;
    line-height:26px;
    margin-top:10px;
    position:relative;
}
.zh_rightsum1_text .zh_input{
    width:312px;
    height:24px;
    line-height:24px;
    padding-left:10px;
    border:1px solid #f0f0f0;
}
.zh_rightsum1_text .zh_btn{
    position:absolute;
    top:1pz;
    left:415px;
    width:98px;
    height:25px;
    line-height:25px;
    font-family:"΢���ź�";
    border:none;
    background:#85c243;
    cursor:pointer;
    color:#fff;
}
.zh_rightsum1_text2{
    height:45px;
    line-height:45px;
    text-indent:32px;
}
.zh_rightsum1_text2 span{
    padding-right:20px;
}
.zh_righttable2{
    width:734px;
    margin:0 auto;
    border-collapse:collapse;
}
.zh_righttable2 td{
    line-height:80px;
    border-bottom:1px solid #e4e3e9;
    color:#c4c4c4;
}
.zh_righttable2 .td1{
    width:50px;
    padding-left:22px;
}
.zh_righttable2 .td2{
    width:86px;
}
.zh_righttable2 .td3 span{
    padding-right:8px;
}
.zh_rightsum1_text3{
    width:400px;
    padding:42px 0 0 52px;
}
.zh_rightsum1_text3 dl{
    width:400px;
    height:120px;
}
.zh_rightsum1_text3 dt{
    width:81px;
    height:87px;
    border:1px solid #d9d5d6;
    overflow:hidden;
    float:left;
}
.zh_rightsum1_text3  dd{
    width:100px;
    height:89px;
    line-height:159px;
    overflow:hidden;
    float:left;
    padding-left:12px;
}
.zh_rightsum1_text3  dd a{
    color:#d1d1d1;
}
.zh_rightsum1_text3 p{
    line-height:40px;
    color:#545454;
}
.zh_rightsum1_btn{
    width:121px;
    height:40px;
    line-height:40px;
    text-align:center;
    background:#e64346;
    color:#fff;
    margin-top:100px;
}
.zh_rightsum1_btn a{
    color:#fff;
}
.zh_rightsum1_btn a:hover{
    text-decoration:none;
}
.zh_rightsum2{
    width:780px;
    border-top:10px solid #f0f0f0;
    padding-bottom:26px;
}
.zh_rightsum2_form{
    width:780px;
    padding:29px 0 120px 0;
}
.zh_rightsum2_form p{
    height:40px;
    line-height:26px;
    position:relative;
    width:600px;
}
.zh_rightsum2_form p .p_ico{
    position:absolute;
    top:3px;
    left:276px;
}
.zh_rightsum2_form p .p_span{
    width:110px;
    display:inline-block;
    text-align:right;
    padding-right:20px;
}
.zh_rightsum2_form p .p_span2{
    width:140px;
    display:inline-block;
    text-align:right;
}
.zh_rightsum2_form .zh_input2{
    width:244px;
    height:24px;
    line-height:24px;
    background:#f6f6f6;
    border:1px solid #f0f0f0;
    padding-left:10px;
    font-size:12px;
    font-family:"΢���ź�";
    color:#555555;
}
.zh_rightsum2_form .zh_input3{
    width:148px;
    height:24px;
    line-height:24px;
    font-size:12px;
    font-family:"΢���ź�";
    color:#555555;
    background:#f6f6f6;
    border:1px solid #f0f0f0;
    padding-left:10px;
}
.zh_rightsum2_form .zh_input4{
    width:33px;
    height:24px;
    line-height:24px;
    font-size:12px;
    font-family:"΢���ź�";
    color:#555555;
    background:#f6f6f6;
    border:1px solid #f0f0f0;
    text-align:center;
}
.zh_rightsum2_form .zh_input5{
    width:120px;
    height:24px;
    line-height:24px;
    background:#f6f6f6;
    border:1px solid #f0f0f0;
    font-size:12px;
    font-family:"΢���ź�";
    color:#555555;
}

.zh_rightsum2_form .select{
    background:#f6f6f6;
    padding:3px 0;
    font-size:12px;
    font-family:"΢���ź�";
    width:160px;
    border:1px solid #f0f0f0;
}
.zh_rightsum2_form  .p_btn{
    position:absolute;
    top:0;
    left:300px;
    width:89px;
    height:24px;
    line-height:24px;
    border:1px solid #f0f0f0;
    background:#85c143;
    cursor:pointer;
    color:#fff;
}
.form_btn{
    width:120px;
    height:40px;
    background:#e64346;
    cursor:pointer;
    color:#fff;
    font-family:"΢���ź�";
    border:none;
    margin:10px 0 0 54px;
}
.form_btn2{
    width:120px;
    height:40px;
    background:#e64346;
    cursor:pointer;
    color:#fff;
    font-family:"΢���ź�";
    border:none;
    margin:0px 0 0 238px;
}
.zh_rightsum2_form_b{
    width:648px;
    border:1px solid #b6b6b6;
    margin:37px 0 0 54px;
    padding-top:21px;
    background:#fefaef;
    position:relative;
}
.zh_rightsum2_form em{
    font-style:normal;
    color:#F00;
}
.form_text{
    width:598px;
    padding:0 0 30px 50px;
    position:relative;
}
.zh_rightsum2_form_b .text{
    position:absolute;
    top:-55px;
    left:0;
    line-height:24px;
    width:70px;
}
.zh_rightsum2_form_b .form_ul{
    position:absolute;
    top:-59px;
    left:71px;
    width:300px;
    height:38px;
}
.zh_rightsum2_form_b .form_ul li{
    width:75px;
    float:left;
    height:38px;
    line-height:38px;
    text-align:center;
    background:url(../images/bg.png) no-repeat -75px -2454px;
}
.zh_rightsum2_form_b .form_ul li a{
    height:38px;
    display:block;
}
.zh_rightsum2_form_b .form_ul li a:hover{
    background:url(../images/bg.png) no-repeat 0 -2454px;
    text-decoration:none;
    color:#707070;
}
.zh_rightsum2_form_b .form_ul li.li2{
    background:url(../images/bg.png) no-repeat 0 -2454px;
}
.form_text .span{
    position:absolute;
    left:25px;
    line-height:18px;
    width:16px;
}
.form_text  li{
    width:113px;
    float:left;
    position:relative;
}
.form_text  li img{
    width:102px;
    height:41px;
    overflow:hidden;
}
.form_text  li .li_input{
    position:absolute;
    top:14px;
    left:0;
}
.form_text2{
    width:736px;
    margin:0 auto 10px auto;
    border-bottom:1px dotted #606060;
    height:28px;
    line-height:28px;
}
.form_btn3{
    width:80px;
    height:26px;
    background:#e64346;
    border-bottom:1px solid #f3a7a8;
    border-right:1px solid #f3a7a8;
    cursor:pointer;
    color:#fff;
    font-family:"΢���ź�";
    border:none;
    margin:0px 0 0 51px;
}
.form_btn4{
    width:80px;
    height:26px;
    background:#555;
    border-bottom:1px solid #9b9b9b;
    border-right:1px solid #9b9b9b;
    cursor:pointer;
    color:#fff;
    font-family:"΢���ź�";
    border:none;
    margin:0px 0 0 5px;
}
.zh_rightform2{
    width:660px;
    padding:10px 0 0 70px;
}
.zh_rightform2 p{
    width:660px;
    height:36px;
    line-height:36px;
    position:relative;
}
.zh_rightform2 p .p_text{
    position:absolute;
    top:0;
    left:230px;
    color:#c5c5c5;
}
.zh_rightform2 p .p_text2{
    position:absolute;
    top:0;
    left:376px;
    color:#c5c5c5;
}
.zh_rightform2 .zh_rinput1{
    width:96px;
    height:21px;
    line-height:21px;
    border:1px solid #b1b1b1;
    padding-left:6px;
    background:#f6f6f6;
}
.zh_rightform2 .zh_rinput2{
    width:36px;
    height:21px;
    line-height:21px;
    background:#f6f6f6;
    border:1px solid #b1b1b1;
}
.zh_rightform_btn{
    width:120px;
    height:40px;
    background:#e64346;
    cursor:pointer;
    color:#fff;
    font-family:"΢���ź�";
    border:none;
    margin:10px 0 0 0px;
}
.zh_rightsum1_tit2{
    height:46px;
    line-height:46px;
    border-bottom:1px solid #e3e4e9;
    font-size:14px;
    text-indent:15px;
    position:relative;
    margin-bottom:12px;
}
.zh_rightsum1_tit2 ul{
    position:absolute;
    top:10px;
    left:132px;
    width:144px;
    height:24px;
    text-indent:0;
    border:2px solid #e64346;
}
.zh_rightsum1_tit2 li{
    width:72px;
    height:24px;
    line-height:24px;
    float:left;
    text-align:center;
}
.zh_rightsum1_tit2 li a{
    height:24px;
    color:#e64346;
    display:block;
}
.zh_rightsum1_tit2 li a:hover{
    background:#e64346;
    color:#fff;
    text-decoration:none;
}
.zh_rightsum1_tit2 li.li2 {
    background:#e64346;
}
.zh_rightsum1_tit2 li.li2 a{
    color:#fff;
}
.zh_righttable3{
    width:748px;
    margin:0 auto;
    color:#4f5575;
    border-collapse:collapse;
}
.zh_righttable3 th{
    line-height:32px;
    background:#f3f3f3;
    text-align:center;
    font-weight:normal;
}
.zh_righttable3 td{
    line-height:40px;
    text-align:center;
}
.zh_righttable3 tr:hover{
    background:#f6f8f7;
    color:#f89a1e;
}
.zh_rightfenye2{
    height:27px;
    text-align:center;
}
.zh_rightfenye2 a{
    padding:0 5px;
    line-height:25px;
    margin-top:25px;
    border:1px solid #dedede;
    margin-right:4px;
    text-decoration:none;
    color:#000;
}
.zh_rightfenye2 a:hover{
    background:#dedede;
}
.zh_pic1{
    width:349px;
    float:left;
    padding:25px 0 0 36px;
    margin-right:92px;
}
.zh_rightsum3{
    width:276px;
    float:left;
    border-bottom:1px dotted #c9c9c9;
    padding:10px 0;
}
.zh_rightsum3 dl{
    width:276px;
    background:#f6f6f6;
    margin-bottom:12px;
}
.zh_rightsum3 dt{
    height:30px;
    line-height:30px;
    color:#000;
    background:#f6f6f6;
    text-indent:32px;
}
.zh_rightsum3 dd{
    background:#fdf4f5;
    position:relative;
    height:30px;
    width:276px;
    line-height:30px;
    text-indent:32px;
    position:relative;
}
.zh_rightsum3 dd .dd_r{
    position:absolute;
    top:0;
    right:28px;
}
.zh_rightsum3 dd.dd2{
    background:#f6f6f6;
}
.zh_rightsum3 p{
    line-height:22px;
    text-indent:32px;
    color:#000;
}
.zh_righttable4{
    width:724px;
    border-collapse:collapse;
    margin:30px auto;
}
.zh_righttable4 td{
    line-height:35px;
    border-bottom:1px solid #e3e3e3;
}
.zh_righttable4 th{
    line-height:36px;
    background:#f6f6f6;
    text-align:left;
    font-weight:normal;
}
.zh_righttable4 .td1{
    padding-left:28px;
}
.zh_rightsum4{
    width:756px;
    border-top:1px solid #f0f0f0;
    padding:10px 0 10px 24px;
}
.zh_rightsum4_pic{
    width:80px;
    height:80px;
    overflow:hidden;
    float:left;
}

.zh_rightsum4_pic img{
    width:78px;
    height:78px;
    border:1px solid #A5A5A5;
    border-radius:15px;
    -moz-border-radius:15px;
}

.zh_rightsum4_r{
    width:660px;
    float:right;
}
.zh_rightsum4_r p{
    line-height:36px;
    color:#aab2bd;
}
.zh_rightsum4_r p a{
    font-size:18px;
}
.zh_rightsum4_r .text1{
    width:600px;
    height:28px;
    line-height:28px;
    background:#fffdee url(../images/bg.png) no-repeat 7px -2508px;
    border:1px solid #feeed5;
    text-indent:28px;
    margin-bottom:3px;
}
.zh_rightsum4_r .text1 input{
    background:#fcb251;
    text-indent:0;
    display:inline-block;
    margin:0 0 0 6px;
    width:60px;
    height:22px;
    color:#fff;
    cursor:pointer;
    border:0;
}
.zh_rightsum4_r .text1 a{
    padding-right:18px;
}
.zh_rightsum4_r .text2{
    line-height:28px;
    text-indent:8px;
}
.zh_rightsum4_r .text2 .sp1 a{
    padding:0 18px 0 32px;
    background:url(../images/bg.png) no-repeat 14px -2551px;
    display:inline-block;
}
.zh_rightsum4_r .text2 .sp2 a{
    padding:0 18px 0 32px;
    background:url(../images/bg.png) no-repeat 14px -2600px;
    display:inline-block;
    color:#b1b1b1;
}
.zh_rightsum5{
    width:780px;
    border-top:15px solid #f6f6f6;
    padding-bottom:100px;
}
.zh_rightsum5_tit{
    height:50px;
    line-height:50px;
    border-bottom:1px solid #efefef;
    text-indent:22px;
    font-size:18px;
}
.zh_rightsum5_text{
    width:738px;
    border-bottom:1px solid #efefef;
    line-height:24px;
    text-indent:20px;
    font-size:14px;
    padding:15px 0;
    margin:0 auto 22px auto;
}
.zh_rightsum5_text input
{
    width:60px;
    height:22px;
    color:#fff;
    cursor:pointer;
    border:0;
}
.ico1 input{
    text-indent:0;
    background:#e64346;
    margin:0 11px 0 30px;
}
.ico2 input{
    text-indent:0;
    display:inline-block;
    background:#bbb94c;
    margin:0 80px 0 0;
}
.ico3 input{
    background:#fcb251;
    text-indent:0;
    display:inline-block;
    margin:0 0 0 6px;
}
.zh_rightsum5_l{
    width:212px;
    border:1px solid #efefef;
    background:#f6f6f6;
    margin-left:19px;
    float:left;
}
.zh_rightsum5_l dt{
    height:46px;
    line-height:46px;
    border-bottom:1px solid #efefef;
    text-indent:16px;
}
.zh_rightsum5_l dd{
    width:196px;
    height:40px;
    text-indent:8px;
    line-height:40px;
    border-bottom:1px solid #e9e9e9;
    position:relative;
    margin:0 auto;
}
.zh_rightsum5_l dd .dd_r{
    position:absolute;
    top:0;
    right:5px;
}
.zh_rightsum5_r{
    width:516px;
    float:right;
}
.zh_rightsum5_r .text1{
    width:232px;
    height:44px;
    line-height:44px;
    text-indent:44px;
    position:relative;
    float:left;
    margin:0 15px 6px 0;
}
.zh_rightsum5_r .text1.bg11{
    background:#f6f6f6;
}
.zh_rightsum5_r .text1.bg22{
    background:#fffdee;
}
.zh_rightsum5_r .text1.bor_1{
    border-left:3px solid #d36b68;
}
.zh_rightsum5_r .text1.bor_2{
    border-left:3px solid #1196b5;
}
.zh_rightsum5_r .text1.bor_3{
    border-left:3px solid #bbb94c;
}
.zh_rightsum5_r .text1.bor_4{
    border-left:3px solid #937342;
}
.zh_rightsum5_r .text1.bor_5{
    border-left:3px solid #fb8c00;
}
.zh_rightsum5_r .text1.bor_6{
    border-left:3px solid #0fa9ab;
}
.zh_rightsum5_r .text1.bor_7{
    border-left:3px solid #85c243;
}
.zh_rightsum5_r .text1.bor_8{
    border-left:3px solid #937342;
}
.zh_rightsum5_r .text1 .img{
    position:absolute;
    top:8px;
    left:9px;
    text-indent:0;
    width:29px;
    height:29px;
    overflow:hidden;
}
.zh_rightsum5_r .text1 .text1_r{
    position:absolute;
    top:5px;
    right:0;
    width:100px;
    line-height:16px;
    text-indent:0;
}
.zh_rightsum5_r .text1 .text1_r2{
    position:absolute;
    top:5px;
    right:0;
    width:100px;
    line-height:32px;
    background:url(../images/ico_99.gif) no-repeat left 8px;
    text-indent:26px;
}
.zh_rightsum5_r .text1 .text1_r3{
    position:absolute;
    top:5px;
    right:0;
    width:100px;
    text-indent:0;
    line-height:32px;
}
.zh_rightsum5_r .text1 .text1_r4{
    position:absolute;
    top:5px;
    left:44px;
    width:78px;
    line-height:16px;
    text-indent:0;
}
.zh_rightsum5_r  .height{
    clear:both;
    height:16px;
}

.zh_rightsum1_row{
    width:780px;
    height:30px;
    font-size:14px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.zh_rightsum1_row span{
    padding-left:15px;
}

.zh_rightsum1_row input[type=button] {
    background: #FCB251;
    text-indent: 0;
    display: inline-block;
    margin: 0 0 0 6px;
    width: 60px;
    height: 22px;
    color: white;
    cursor: pointer;
    border: 0;
}

.AccountPassword {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    font-size: 14px;
}
.table_head td {
    border-bottom: 1px solid #c1c1c1;
}
.AccountPassword span {
    display: block;
    float: left;
    line-height: 30px;
    font-size: 12px;
}
span.Title {
    width: 80px;
    font-size: 18px;
    color: #e64c65;
    font-family: "??????";
    font-weight: bolder;
}
span.Info {
    width: 300px;
    margin-left: 10px;
}
.AccountPassword input[type='button'] {
    margin: 0;
    width: 400px;
    height: 40px;
    line-height: 40px;
    border: 0px;
    background-color: #f06675;
    color: #fff;
    cursor: pointer;
}
.AccountPassword input[type='submit'] {
    margin: 0;
    width: 400px;
    height: 40px;
    line-height: 40px;
    border: 0px;
    background-color: #f06675;
    color: #fff;
    cursor: pointer;
}
.AccountPassword input[type='text'] {
    width: 386px;
    height: 30px;
    font-size: 22px;
    line-height: 30px;
    padding-left: 10px;
}

.AccountPassword #txtFileNameup2 {
    width: 160px;
    height: 30px;
    margin-left:33px;
    font-size: 22px;
    line-height: 30px;
    padding-left: 10px;
}

.AccountPassword #txtFileNameup2other {
    width: 160px;
    height: 30px;
    margin-left:33px;
    font-size: 22px;
    line-height: 30px;
    padding-left: 10px;
}

.AccountPassword input[type='password'] {
    width: 310px;
    height: 30px;
    font-size: 22px;
    line-height: 30px;
    padding-left: 10px;
}

.zh_rightsum4_pic img{
    width:78px;
    height:78px;
    border:1px solid #A5A5A5;
    border-radius:15px;
    -moz-border-radius:15px;
}
