.con_box {
	MARGIN: 0px auto; WIDTH: 980px
}
.t10 {
	MARGIN-TOP: 10px
}
.t5 {
	MARGIN-TOP: 5px
}
.logo {
	WIDTH: 220px; BACKGROUND: url(../images/logo.gif) no-repeat; FLOAT: left; HEIGHT: 70px
}
.city {
	MARGIN-TOP: 15px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 15px
}
.city H1 {
	TEXT-ALIGN: center; WIDTH: 55px; BACKGROUND: url(../images/citybg.gif) no-repeat; HEIGHT: 30px; MARGIN-LEFT: 8px; FONT-SIZE: 12px
}
.friend {
	MARGIN: 10px 0px 0px 80px; WIDTH: 220px; BACKGROUND: url(../images/friend.gif) no-repeat; FLOAT: left; HEIGHT: 43px
}
.top_right {
	WIDTH: auto; FLOAT: right
}
.top_right DIV {
	LINE-HEIGHT: 25px; HEIGHT: 25px
}
.weather {
	TEXT-ALIGN: center
}
.lo_bor {
	TEXT-ALIGN: right
}
.lo_bor SPAN A {
	COLOR: #2b7c0d
}
.banner {
	WIDTH: 790px; FLOAT: left; HEIGHT: 160px
}
.btn_list {
	WIDTH: 180px; BACKGROUND: url(../images/btnbg.gif) no-repeat; FLOAT: right; HEIGHT: 160px
}
.btn_list LI {
	TEXT-ALIGN: center; MARGIN-TOP: 9px; HEIGHT: 28px; OVERFLOW: hidden
}
.main_left {
	WIDTH: 265px; FLOAT: left
}
.g_320 {
	PADDING-LEFT: 4px; BACKGROUND: url(../images/caption_bg.gif) repeat-x; HEIGHT: 31px; OVERFLOW: hidden
}
.g_320 .b_caption {
	OVERFLOW: hidden
}
.g_320 .b_caption LI {
	PADDING-LEFT: 22px; BACKGROUND: url(../images/caption_name_leftbg.gif) no-repeat; FLOAT: left
}
.g_320 .b_caption LI SPAN {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 14px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND: url(../images/caption_name_rightbg.gif) no-repeat right top; FLOAT: left; FONT-WEIGHT: bold; PADDING-TOP: 13px
}
.g_320 .b_caption .tap {
	PADDING-LEFT: 10px; BACKGROUND: url(../images/caption_tap_leftbg.gif) no-repeat; FLOAT: left; CURSOR: pointer
}
.g_320 .b_caption .tap SPAN {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 14px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND: url(../images/caption_tap_rightbg.gif) no-repeat right top; FLOAT: left; COLOR: #02a; FONT-WEIGHT: normal; PADDING-TOP: 13px
}
.g_320 .b_caption .more {
	BACKGROUND: url(../images/caption_more_rightbg.gif) no-repeat right top; FLOAT: right
}
.g_320 .b_caption .more IMG {
	VERTICAL-ALIGN: middle
}
.g_320 .b_caption .more SPAN {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; DISPLAY: block; FONT: 12px "ו"; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; HEIGHT: 14px; PADDING-TOP: 10px
}
.b_content {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; CLEAR: both; BORDER-TOP: 0px; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 10px
}
.b_content LI {
	LINE-HEIGHT: 25px
}
.paihang {
	PADDING-LEFT: 25px; BACKGROUND: url(../images/paihang_2.gif) no-repeat 0px 5px
}
.paihang TABLE {
	
}
.paihang TABLE TD {
	HEIGHT: 24px; COLOR: #ff0000
}
.paihang TABLE TD A {
	COLOR: #333333
}
.finishList {
	WIDTH: 240px; CLEAR: both; OVERFLOW: hidden
}
.finishList DL {
	PADDING-BOTTOM: 1px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 2px
}
.finishList DD {
	LINE-HEIGHT: 1.4em; MARGIN: 0px 0px 5px
}
.finishList DT {
	LINE-HEIGHT: 1.4em; MARGIN: 0px 0px 5px
}
.finishList .stitle {
	OVERFLOW: hidden
}
.finishList .stitle A {
	COLOR: #233fba
}
.finishList DD {
	WIDTH: 30%; FLOAT: left; COLOR: #f56200
}
.finishList .borderB {
	MARGIN: 0px; WIDTH: 100%; FLOAT: none; HEIGHT: 3px; CLEAR: both; OVERFLOW: hidden; BORDER-TOP: #ceddde 1px dashed
}
.main_center {
	WIDTH: 515px; FLOAT: left; MARGIN-LEFT: 10px
}
.b_content1 {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BACKGROUND: #fff; BORDER-TOP: 0px; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 1px
}
.zhaobiao_now11 {
	PADDING-BOTTOM: 5px; MARGIN: 0px auto; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #f2f9e3; HEIGHT: 744px; OVERFLOW: hidden; PADDING-TOP: 5px
}
.zhaobiao_now11 LI {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 0px; MARGIN-TOP: 10px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND: #fff; HEIGHT: 88px !important; FONT-SIZE: 0px; OVERFLOW: hidden !important; PADDING-TOP: 4px
}
.zb_n_left {
	TEXT-ALIGN: center; WIDTH: 70px; FLOAT: left
}
.zb_n_left IMG {
	BORDER-BOTTOM: #dedede 1px solid; BORDER-LEFT: #dedede 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #dedede 1px solid; BORDER-RIGHT: #dedede 1px solid; PADDING-TOP: 2px
}
.zb_n_left A {
	COLOR: #414141
}
.zb_n_right {
	WIDTH: 420px; FLOAT: right
}
.zb_n_right SPAN {
	COLOR: #ff5500
}
.zb_n_right B {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ff5500; FONT-SIZE: 14px
}
SPAN.jindu {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; WIDTH: 82px; PADDING-RIGHT: 2px; DISPLAY: block; BACKGROUND: url(../images/jindubg.gif) no-repeat; HEIGHT: 16px; PADDING-TOP: 0px
}
SPAN.jindu TABLE {
	MARGIN: 3px 0px 0px; BACKGROUND: url(../images/jinduicon.gif) repeat-x left center; HEIGHT: 10px
}
.main_right {
	WIDTH: 180px; FLOAT: right
}
.m_r_title {
	BACKGROUND: url(../images/r_titbg.gif) no-repeat center 0px; HEIGHT: 27px
}
.m_r_title H1 {
	LINE-HEIGHT: 27px; PADDING-LEFT: 30px; BACKGROUND: url(../images/icon3.gif) no-repeat 15px center; FLOAT: left; HEIGHT: 27px; COLOR: #749201; FONT-SIZE: 12px
}
.m_r_title SPAN {
	MARGIN-TOP: 5px; DISPLAY: inline; FLOAT: right; MARGIN-RIGHT: 10px
}
.m_r_con {
	BORDER-LEFT: #e7e7e7 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-RIGHT: #e7e7e7 1px solid; PADDING-TOP: 5px
}
.m_r_con LI {
	LINE-HEIGHT: 24px
}
.m_r_bot {
	BACKGROUND: url(../images/r_titbot.gif) no-repeat center 0px; HEIGHT: 7px; OVERFLOW: hidden
}
.btn_choic {
	
}
.btn_choic LI {
	MARGIN: 5px 0px 0px 10px; DISPLAY: inline; FLOAT: left
}
.btn_choic LI A {
	COLOR: #333333
}
.btn_choic LI A:hover {
	TEXT-DECORATION: none
}
.btn_choic LI A.now {
	TEXT-ALIGN: center; LINE-HEIGHT: 18px; WIDTH: 63px; DISPLAY: block; BACKGROUND: url(../images/btnbg1.gif) no-repeat; HEIGHT: 18px; COLOR: #ffffff; FONT-WEIGHT: bold
}
.content5 {
	MARGIN: 0px auto; WIDTH: 168px
}
.content5 LI {
	BORDER-BOTTOM: #b9b9b9 1px solid; MARGIN: 5px 0px 0px; HEIGHT: 70px
}
.content5 LI IMG {
	BORDER-BOTTOM: #b6b6b6 1px solid; BORDER-LEFT: #b6b6b6 1px solid; BORDER-TOP: #b6b6b6 1px solid; BORDER-RIGHT: #b6b6b6 1px solid
}
.content5 LI H1 {
	WIDTH: 50px; FLOAT: left; HEIGHT: 50px
}
.content5 LI SPAN {
	WIDTH: 110px; FLOAT: right; HEIGHT: 70px
}
.content5 LI DIV {
	LINE-HEIGHT: 20px
}
.m_r_con1 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: url(../images/rbg1.gif) repeat-y center 0px; HEIGHT: 220px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.lin_bor {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
.lin_logo {
	PADDING-BOTTOM: 10px
}
.lin_logo LI {
	LINE-HEIGHT: 0px; MARGIN: 10px 14px 0px; DISPLAY: inline; FLOAT: left; FONT-SIZE: 0px
}
.lin_word LI {
	MARGIN: 0px 0px 0px 10px; DISPLAY: inline; WHITE-SPACE: nowrap; FLOAT: left
}
.fotter {
	BORDER-TOP: #81ad26 4px solid; PADDING-TOP: 20px
}
.f_menu {
	COLOR: #666666
}
.f_menu A {
	COLOR: #666666
}
.qq_list {
	
}
.qq_list LI {
	FLOAT: left
}
.in_text {
	BORDER-BOTTOM: #d2d1d1 1px solid; BORDER-LEFT: #d2d1d1 1px solid; LINE-HEIGHT: 25px; WIDTH: 170px; HEIGHT: 25px; BORDER-TOP: #d2d1d1 1px solid; BORDER-RIGHT: #d2d1d1 1px solid
}
TABLE.tab_dl {
	MARGIN: 0px auto; WIDTH: 93%
}
TABLE.tab_dl TD {
	HEIGHT: 40px; FONT-SIZE: 14px
}
.sec10 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; LINE-HEIGHT: 28px; MARGIN: 20px 20px 0px; COLOR: #999999; BORDER-TOP: #dbdbdb 1px solid; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
.dl_infor {
	
}
.dl_infor H1 {
	COLOR: #0262db; FONT-SIZE: 14px
}
.dl_infor SPAN {
	DISPLAY: block; COLOR: #666666; PADDING-TOP: 10px
}
.zhuce_bor {
	BORDER-BOTTOM: #c8d88b 1px solid; BORDER-LEFT: #c8d88b 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP: #c8d88b 1px solid; BORDER-RIGHT: #c8d88b 1px solid; PADDING-TOP: 1px
}
.zhuce_bor H1 {
	LINE-HEIGHT: 32px; PADDING-LEFT: 20px; BACKGROUND: url(../images/zc_bg.gif) repeat-x; HEIGHT: 32px; COLOR: #000000; FONT-SIZE: 16px
}
TABLE.zc_tab {
	
}
TABLE.zc_tab TD {
	HEIGHT: 40px; FONT-SIZE: 14px
}
.yinsi {
	BORDER-BOTTOM: #e7e6e6 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #e7e6e6 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #f7f6f6; BORDER-TOP: #e7e6e6 1px solid; BORDER-RIGHT: #e7e6e6 1px solid; PADDING-TOP: 5px
}
.yinsi B {
	COLOR: #ff0000
}
.xieyi {
	FONT-SIZE: 12px
}
.xieyi A {
	COLOR: #ff0000
}
