@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
}
body {
	font-family:"宋体", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	background:#fff url(bg.jpg) repeat-x;
}
a {
	font-size:12px;
	color:#000;
	text-decoration:none;
}
ul {
	list-style:none;
}
img {
	border:none;
}
.clear {
	height:1px;
	clear:both;
	margin-bottom:-1px;
	overflow:hidden;
}
#head {
	width:1000px;
	margin:0 auto;
}
#head #top {
	height:36px;
	line-height:36px;
	position:relative;
	font-size:13px;
	text-indent:5px;
}
#head #top .topsp1 a {
	font-size:13px;
	padding:0 5px;
}
#head #top .topsp1 {
	position:absolute;
	top:0;
	right:5px;
}
#head #top2 {
	height:121px;
	position:relative;
}
#head #top2 #logo {
	position:absolute;
	top:11px;
	left:0;
}
#head #top2 #tel {
	position:absolute;
	top:15px;
	right:0;
}
#head #nav {
	height:31px;
	padding:4px 0 0 10px;
	width:990px;
	overflow:hidden;
}
#head #nav li {
	width:115px;
	height:31px;
	text-align:center;
	line-height:31px;
	margin-right:50px;
	float:left;
}
#head #nav li a {
	width:115px;
	height:31px;
	display:block;
	color:#fff;
	font-family:"微软雅黑";
	font-size:15px;
	font-weight:bold;
}
#head #nav li a:hover {
	background:url(navli.jpg) no-repeat;
	color:#c62827;
}
#head #nav li.li2 a {
	background:url(navli.jpg) no-repeat;
	color:#c62827;
}
#head #nav li.li3 {
	margin-right:0;
}
#head #nav2 {
	height:34px;
	line-height:34px;
}
#head #nav2 a {
	padding:0 12px;
}
#banner {
	width:100%;
	background:url(bg2.jpg) repeat-x left bottom;
	padding-bottom:8px;
	height:315px;
}
#banner .pic1 {
	width:1000px;
	margin:0 auto;
}
/*通栏一*/
#index1 {
	width:1000px;
	margin:0 auto;
	margin-top:10px;
}
#index1 h2 {
	height:34px;
}
#index1 .ind1sum {
	width:250px;
	float:left;
	margin-right:24px;
}
#index1 .ind1sum_block {
	width:226px;
	border:1px solid #828282;
	margin:0 auto;
	padding:0 0 0 12px;
	border-top:none;
	overflow:hidden;
}
#index1 .ind1sum_block p {
	height:28px;
	line-height:28px;
	margin-bottom:10px;
	position:relative;
	font-size:14px;
}
#index1 .ind1sum_block p .input1 {
	position:absolute;
	top:0;
	left:56px;
	width:161px;
	height:26px;
	line-height:26px;
	border:1px solid #cdcdcd;
}
#index1 .ind1sum_block p .input2 {
	position:absolute;
	top:0;
	left:56px;
	width:77px;
	height:26px;
	line-height:26px;
	border:1px solid #cdcdcd;
}
#index1 .ind1sum_block p .ico1 {
	position:absolute;
	top:5px;
	left:143px;
}
#index1 .ind1sum_block p .select {
	width:105px;
	position:absolute;
	top:3px;
	left:56px;
	color:#696969;
	font-size:12px;
}
#index1 .ind1sum_block p.p2 {
	height:38px;
	margin-bottom:0;
}
#index1 .ind1sum_block p .input3 {
	width:82px;
	height:33px;
	background:url(ico7.jpg) no-repeat;
	text-align:center;
	line-height:33px;
	position:absolute;
	top:0;
	left:30px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	border:0;
}
#index1 .ind1sum_block p .input4 {
	width:82px;
	height:33px;
	background:url(ico8.jpg) no-repeat;
	text-align:center;
	line-height:33px;
	position:absolute;
	top:0;
	left:125px;
	font-size:14px;
	font-weight:bold;
	border:0;
}
#index1 .ind1sum2 {
	width:226px;
	float:left;
}
#index1 .ind1sum2_block {
	width:200px;
	border:1px solid #828282;
	margin:0 auto;
	padding:5px 0 5px 16px;
	overflow:hidden;
	border-top:none;
}
#index1 .ind1sum2_block li {
	width:184px;
	height:30px;
	line-height:30px;
	background:url(dian.gif) no-repeat left 14px;
	text-indent:14px;
	overflow:hidden;
}
#index1 .ind1sum2_block li.li2 {
	background:none;
	text-align:right;
}
#index1 .mr {
	margin-right:24px;
}
/*通栏一 end*/
/*通栏二*/
.index2 {
	width:1000px;
	margin:10px auto;
}
.index2 .index2left {
	width:227px;
	float:left;
}
.index2 .index2left h3 {
	height:37px;
	background:url(tit5.gif) no-repeat;
	text-indent:40px;
	font-size:14px;
	line-height:33px;
	position:relative;
}
.index2 .index2left h3 .more {
	position:absolute;
	top:10px;
	right:4px;
	background:url(ico9.gif) no-repeat;
	width:51px;
	height:19px;
	text-align:center;
	line-height:19px;
	text-indent:0;
}
.index2 .index2left h3 .more a {
	color:#fff;
	font-size:12px;
	font-weight:normal;
}
.index2 .ind2sum1 {
	width:225px;
	border:1px solid #8b8b8b;
	border-top:0;
	margin-bottom:10px;
}
.index2 .ind2sum1 dl {
	width:198px;
	margin:0 auto;
	padding:8px 0;
}
.index2 .ind2sum1 dt {
	width:52px;
	height:46px;
	float:left;
	overflow:hidden;
	padding:2px;
	border:1px solid #eae9eb;
	float:left;
}
.index2 .ind2sum1 dd {
	width:120px;
	float:right;
	line-height:18px;
}
.index2 .ind2sum2 {
	width:225px;
	border:1px solid #8b8b8b;
	border-top:0;
	margin-bottom:10px;
	padding:15px 0;
	overflow:hidden;
}
.index2 .ind2sum2 p {
	height:20px;
	line-height:20px;
	margin-bottom:15px;
	position:relative;
}
.index2 .ind2sum2 p .sp1 {
	width:72px;
	position:absolute;
	top:0;
	left:0;
	text-align:right;
	font-size:14px;
	font-family:"微软雅黑";
}
.index2 .ind2sum2 p .input {
	position:absolute;
	top:0;
	left:75px;
	width:142px;
	height:18px;
	border:1px solid #696969;
}
.index2 .ind2sum2 p .select {
	position:absolute;
	top:0;
	left:75px;
	
}
.index2 .ind2sum2 p.p2 {
	height:33px;
	margin-bottom:0;
}
.index2 .ind2sum2 p.p2 .input2 {
	position:absolute;
	bottom:0;
	left:56px;
	width:93px;
	height:30px;
	background:url(ico12.jpg) no-repeat;
	border:0;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
.index2 .index2right {
	width:746px;
	float:right;
}
.index2 .ind2right_tit {
	width:746px;
}
.index2 .ind2rightsum {
	width:723px;
	padding:5px 0 0 23px;
	overflow:hidden;
	height:80px;
	background:url(bg4.jpg) no-repeat;
	position:relative;
}
.index2 .ind2rightsum .ico{
	position:absolute;
	top:32px;
	right:8px;
	width:93px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-weight:bold;
	background:url(ico15.jpg) no-repeat;
}
.index2 .ind2rightsum .ico a{
	color:#fff;
	font-size:14px;
}

.index2 .ind2rightsum dt {
	width:56px;
	height:56px;
	padding:2px;
	background:#fff;
	border:1px solid #cdcdcd;
	margin-top:6px;
	float:left;
}
.index2 .ind2rightsum dd {
	width:645px;
	height:24px;
	line-height:24px;
	position:relative;
	float:right;
	font-size:14px;
}
.index2 .ind2rightsum dd a {
	font-weight:bold;
	font-size:14px;
}
.index2 .ind2rightsum dd .sp1 {
	position:absolute;
	top:0;
	left:202px;
}
.index2 .ind2rightsum dd .sp2 {
	position:absolute;
	top:0;
	left:427px;
}
.index2 .ind2rightsum dd .sp3 {
	position:absolute;
	top:0;
	left:342px;
}
.index2 .ind2rightsum dd .ico2 {
	width:68px;
	height:10px;
	position:absolute;
	top:7px;
	left:270px;
	background:#fff;
	overflow:hidden;
}
.index2 .ind2rightsum dd .ico2 em {
	display:block;
	height:10px;
	background:url(ico11.jpg) no-repeat;
}
.index2 .ind2rightsum .ico {
    position:absolute;
	margin-top:20px;
	
	right:20px;
	width:90px;
	height:30px;
	text-align:center;
	line-height:30px;
	background:url(ico15.jpg) no-repeat;
}
.index2 .ind2rightsum .ico a {
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
.index2 .bot1 {
	width:746px;
	height:2px;
	background:url(bot1.jpg) no-repeat;
	overflow:hidden;
}
.index2 .bot2 {
	width:746px;
	height:7px;
	background:url(bot2.jpg) no-repeat;
	overflow:hidden;
}
.ind2right2 {
	width:760px;
	float:right;
}
.ind2right2_tit {
	width:760px;
	height:70px;
	background:url(tit7.jpg) no-repeat;
	position:relative;
}
.ind2right2_tit .sp1 {
	position:absolute;
	top:0;
	left:0;
	text-indent:-9999px;
}
.ind2right2_tit .ico1 {
	position:absolute;
	top:5px;
	right:145px;
	width:57px;
	height:28px;
	background:url(ico13.jpg) no-repeat;
	text-align:center;
	line-height:28px;
	color:#fff;
	font-size:14px;
}
.ind2right2_tit .sp2 {
	position:absolute;
	top:0;
	right:5px;
	line-height:37px;
}
.ind2right2_tit .sp2 a {
	font-size:14px;
	padding:0 3px;
}
.ind2right2_tit .ind2right2_tit_block {
	position:absolute;
	bottom:0;
	left:35px;
	height:28px;
}
.ind2right2_tit .ind2right2_tit_block li {
	height:28px;
	line-height:28px;
	width:62px;
	float:left;
	font-size:14px;
}
.ind2right2_tit .ind2right2_tit_block li.li2 {
	width:139px;
}
.ind2right2_tit .ind2right2_tit_block li.li3 {
	width:110px;
}
.ind2right2_tit .ind2right2_tit_block li.li4 {
	width:110px;
}
.ind2right2_tit .ind2right2_tit_block li.li5 {
	width:98px;
}
.ind2right2_block {
	width:743px;
	height:77px;
	background:url(bg5.jpg) no-repeat;
	padding:6px 0 0 17px;
	overflow:hidden;
	position:relative;
}
.ind2right2_block dt {
	width:56px;
	height:56px;
	padding:2px;
	background:#fff;
	border:1px solid #cdcdcd;
	margin-top:4px;
	float:left;
}
.ind2right2_block dd {
	width:670px;
	height:24px;
	line-height:24px;
	position:relative;
	float:right;
}
.ind2right2_block dd a {
	font-size:14px;
	font-weight:bold;
}
.ind2right2_block dd .sp1 {
	position:absolute;
	top:0;
	left:130px;
	width:100px;
	text-align:center;
}

.ind2right2_block dd .spx {
	position:absolute;
	top:0;
	left:250px;
	width:100px;
	text-align:left;
}
.ind2right2_block dd .sp2 {
	position:absolute;
	top:0;
	left:238px;
	width:100px;
	text-align:center;
}
.ind2right2_block dd .sp3 {
	position:absolute;
	top:0;
	left:357px;
}
.ind2right2_block dd .sp4 {
	position:absolute;
	top:0;
	left:536px;
}
.ind2right2_block dd .ico1 {
	position:absolute;
	top:3px;
	left:347px;
	width:90px;
	text-align:center;
}
.ind2right2_block dd .ico2 {
	width:68px;
	height:10px;
	position:absolute;
	top:7px;
	left:464px;
	background:#fff;
	overflow:hidden;
}
.ind2right2_block dd .ico2 em {
	display:block;
	height:10px;
	background:url(ico11.jpg) no-repeat;
}
.ind2right2_block .ico {
	position:absolute;
	top:31px;
	right:13px;
	width:92px;
	height:30px;
	text-align:center;
	line-height:30px;
	background:url(ico15.jpg) no-repeat;
}
.ind2right2_block .ico a {
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
.ind2right2 .bot3 {
	width:760px;
	height:3px;
	background:url(bot3.jpg) no-repeat;
	overflow:hidden;
}
.ind2right2 .bot4 {
	width:760px;
	height:9px;
	background:url(bot4.jpg) no-repeat;
	overflow:hidden;
}
.ind2right2 .fenye {
	height:25px;
	line-height:25px;
	text-align:center;
	font-size:14px;
	width:320px;
	margin:10px auto;
}
.ind2right2 .fenye li {
	width:30px;
	height:25px;
	float:left;
	position:relative;
}
.ind2right2 .fenye li .ico {
	position:absolute;
	top:0;
	left:0;
}
.ind2right2 .fenye li.li2 {
	width:370px;
}
.ind2right2 .fenye li.li3 {
	width:90px;
	text-align:center;
}
.ind2right2 .fenye a {
	font-size:14px;
}
/*通栏二 end*/
#foot {
	width:100%;
	background:url(foot.jpg) repeat-x;
	margin:0 auto;
}
#foot .footsum {
	width:1000px;
	height:142px;
	margin:0 auto;
	padding:15px 0 0 0;
	position:relative;
}
#foot .footsum dl {
	width:130px;
	float:left;
	height:131px;
	float:left;
	position:relative;
	background:url(bg3.gif) no-repeat right top;
	padding:0 0 0 50px;
	overflow:hidden;
}
#foot .footsum dl.dl2 {
	background:none;
}
#foot .footsum dl .ico {
	position:absolute;
	top:0;
	left:20px;
}
#foot .footsum dt {
	height:30px;
	line-height:30px;
	text-indent:11px;
	font-size:14px;
	font-weight:bold;
}
#foot .footsum dd {
	height:23px;
	line-height:23px;
	background:url(ico1.gif) no-repeat left 8px;
	text-indent:13px;
}
#foot .footsum_pic {
	position:absolute;
	top:14px;
	right:30px;
}
#foot .footsum2 {
	width:1000px;
	height:105px;
	margin:0 auto;
	padding:10px 0 0 0;
}
#foot .footsum2 .footsum2_block {
	height:42px;
	line-height:42px;
	text-align:center;
}
#foot .footsum2 .footsum2_block a {
	padding:0 12px;
}
#foot .footsum2 p {
	line-height:21px;
	text-align:center;
}
#foot .footsum2 p .sp1 {
	margin-right:60px;
}
