body,td  { font-family: '풕턼환쥌', Arial, Verdana, sans-serif; font-size: 12px; color:#565656; }
input { font-family: '풻', Arial, Verdana, sans-serif; font-size: 13px; line-height:17px;  }
a{ color: #565656; text-decoration: none; font-size: 12px; }
a:hover { color: #e63312;}
div,ul,li,form { margin:0px; padding:0px}
ul,li { list-style:none}
h2,h3,h4 { font-weight:normal; margin:0px; padding:0px; font-size:12px; }
img { border:0px;}
.cle { clear:both; font-size:0px; line-height:0px; overflow:hidden;  }
.pg { width:100%; height:30px; line-height:30px; text-align:center; padding:8px 0;}

.inp {line-height:22px; height:22px; border:1px solid #d9e4ee; border-top:1px solid #abadb3; border-left:1px solid #abadb3;}
.top { width:100%; background:#a8a8a8; line-height:29px; height:29px;}
.top a { color:#FFFFFF}
.tplt1 { width:560px; float:left; color:#FFFFFF; padding-left:8px;}
.tprt1 { width:300px; float:right; text-align:right; color:#FFFFFF; padding-right:12px}
.top1 {width:100%; background:#ffffff;}
.tpcd1 { width:310px; float:left; padding:10px 0}
.tpcd2 { width:640px; float:right; padding:29px 0 0 0;}
.tpcd2 div { float:left; position:relative; height:39px; padding:0 0px 0 16px}
.tpcd2 ul { border:2px solid #b79160; background:#F7F9F9; width:180px; overflow:hidden; position:absolute; z-index:100; left:16px; top:36px;}
.tpcd2 ul li { float:left; padding:0 20px; line-height:30px; height:30px; padding-left:18px}
a.ct { font-weight:bold; color:#ffffff }

.box {width:100%; height:400px; position:relative;}
.full-screen-slider { width:100%; height:400px; float:left; position:relative}
.slides { display:block; width:100%; height:400px; list-style:none; padding:0; margin:0; position:relative}
.slides li { display:block; width:100%; height:100%; list-style:none; padding:0; margin:0; position:absolute; z-index:5;}
.slides li a { display:block; width:100%; height:400px; text-indent:-9999px}
#pagination { display:block; list-style:none; position:absolute; left:47%; top:360px; z-index:19;  padding:5px 15px 5px 0; margin:0}
#pagination li { display:block; list-style:none; width:10px; height:10px; float:left; margin-left:15px; background:#FFF }
#pagination li a { display:block; width:100%; height:100%; padding:0; margin:0;  text-indent:-9999px;}
#pagination li.current { background:#0092CE}

.h31 {line-height:34px; height:34px; background:url(images/bar1.jpg) repeat-x; padding:0 10px; font-size:14px; font-weight:bold}
.zclt { width:600px; height:400px; float:left; border-right:1px dashed #CCCCCC;}
.zclt table td { font-size:14px;}
.zcrt { width:270px; float:left; padding-left:45px}
.zcrt p { font-size:14px; line-height:26px;}

a.jral {display:block; padding:6px 0; width:200px; background:#a11300; color:#FFFFFF; text-align:center; font-weight:bold}
.tbxx { border-bottom:1px dotted #cccccc; width:95%; padding:0 0 5px 0;}
.tbxx div { padding:8px 0; }
.zfwbk {width:120px; color:#ff0000; font-weight:bold; font-size:16px; height:24px; line-height:24px}
.yhxx1 { padding:10px 0; font-size:14px}
.dlbk21 { width:1003px; margin:0 auto; height:50px; position:relative}
.dlbk2 { padding:17px 10px 20px 20px; width:242px;height:250px; position:absolute; z-index:50;background-color:rgba(0, 0, 0, 0.3);filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#33000000', EndColorStr='#33000000',GradientType=0); right:20px; top:60px;}
.dlbk2 table td { color:#FFFFFF}
.dlbk2 table td a {color:#FFFFFF}
.dlbk2 table td .hz1 { color:#CCCCCC; float:right }
.zttb { width:100%; background:url(images/w_03.jpg) center bottom no-repeat; overflow:hidden }
.ztdb { width:100%; background:url(images/w_22.jpg) center no-repeat; height:19px }
.ztdb div { width:983px; margin:0 auto; height:2px;}
.ztwt { width:960px; margin:0 auto; padding:12px 0 17px 0px;}
.ztwt span { color:#ff3333}
/*.ztwt div { float:left; width:450px; padding:0 0 19px 20px; background:url(images/siteNote.gif) 0px 0px no-repeat; }
.ztwt div span { color:#e13e41}*/
.ztwt1 { width:983px; margin:0 auto; height:20px;}
.bg { width:100%; background:url(images/w_20.jpg) center repeat-y;overflow:hidden; padding-bottom:5px }
.ztdh { width:983px; margin:0 auto; padding:5px 0 8px 0; overflow:hidden }
.ztdh1 { width:250px; float:left} 
.ztdh2 { width:241px; float:left} 
.ztdh3 { width:226px; float:left} 
.ztdh4 { width:236px; height:62px; padding:14px 0 0 30px; background:url(images/w_10.jpg) no-repeat; float:left; line-height:18px;}
.tb1 { width:983px; margin:0 auto;}
.zuti { width:982px; margin:0 auto; overflow:hidden; border-left:1px solid #f38383; background:url(images/x.jpg) right bottom no-repeat; } 
.rt { width:267px; float:right; }
.main { width:688px; float:left; padding:7px}
.dibu { background:#a11300; padding:15px 0; width:100%}
.dibu1 { background:#252525; width:100%}
.dbk { width:1000px; margin:0 auto; overflow:hidden;  }
.dbli { width:160px; padding-left:30px; float:left; background:url(images/bx.jpg) right repeat-y;}
.dbli h3 { color:#FFFFFF; font-size:14px; font-family:'풕턼환쥌'; margin-bottom:5px;}
.dbli div { line-height:20px; height:20px; }
.dbli div a { color:#FFFFFF}
.dblt { width:620px; float:left; padding:25px 0 5px 0; line-height:27px; color:#a0a09f}
.dbrt { width:330px; float:right; padding:32px 0 0 0; text-align:right}

.bx {height:2px; width:100%; background:#c32100}
.bar1 { padding:6px 11px 0 13px; overflow:hidden;}
.bar1 h3 { font-size:17px; font-family:'풕턼환쥌'; float:left; color:#d42f33; padding-left:2px;} 
.bar1 a { float:right; padding-top:4px;}
.bar3 { padding:0px 11px 0 0px; overflow:hidden;background:url(images/bar3bg.jpg) repeat-x;}
.bar3 a { float:left;font-size:14px;display:block;width:96px;height:28px;text-align:center;line-height:24px;cursor:pointer; }
.bar3 a.lik { background-image:url(images/top-008.jpg);}
.bar3 a.cur { background-image:url(images/top-006.jpg);color:red;}
.bk1 { border-left:1px solid #f38383; border-right:1px solid #f38383; overflow:hidden; }
.bk2 { border-left:1px solid #f38383; border-bottom:1px solid #f38383; border-right:1px solid #f38383; padding-bottom:8px; overflow:hidden; }
.gg { overflow:hidden; padding:7px 10px 4px 10px; _clear:both; _padding-top:2px;}
.gg li { line-height:25px; height:25px; background:url(images/d.jpg) 1px center no-repeat; padding-left:13px;}
.gg li a { float:left;}
.gg li span { float:right;width:35px;}
.bktb { padding-top:10px; }
.jkbt1 { padding-top:3px; }
.jkbt1 a { float:left; }
.jkbt1 div { float:left; padding-left:7px; }
.qqc {background:url(images/qq1.jpg) 1px center no-repeat; line-height:24px; padding-left:17px;}

.tpk1 { overflow:hidden; padding:6px 0;width:265px;height:70px;}
.tplt { width:90px; padding:0 10px 0 4px; float:left;}
.tplt img { border:1px solid #CCCCCC;}
.tprt { width:140px; padding:0 5px 0 4px; float:left;}
.tprt h3 { padding:0 0 2px 0;}
.tprt p { line-height:19px; margin:0; margin-top:4px;}
.xwlk { clear:both; line-height:23px; background:url(images/d.jpg) 11px center no-repeat; padding:2px 3px 0 22px;}
.tbhq { padding:0 12px;}
.tbhq p { margin:0; line-height:22px; border-bottom:1px dotted #999999; padding:4px 4px}
.tbhq p b { color:#e64401}

.bar2 { padding:3px 11px 7px 0;  overflow:hidden;  }
.bar2 div {background:url(images/w_24.jpg) no-repeat;width:17px;height:17px;float:left;margin-top:2px;padding:0; }
.bar2 h3 { font-size:17px; font-family:'풕턼환쥌'; float:left; color:#d42f33; padding-left:8px;}
a.bar2_f { float:right;display:block;}
h3.ys { background:url(images/f01.jpg) no-repeat; line-height:32px; height:32px; width:103px; display:block; text-align:center; padding:0;} 
h3.ys1 { background:url(images/f2.jpg) no-repeat; line-height:32px; height:32px; width:129px; display:block; text-align:center; padding:0;} 
/*.bar2 a { float:right; padding-top:6px;}*/
.zbbk { border-top:1px solid #f97272; padding:13px 0 14px 0; clear:both; _padding-top:8px;}
.zblt { width:112px; float:left; text-align:center; padding-top:7px; }
.zbct { width:461px; float:left;}
.zbrt { width:94px; float:left; padding:30px 0 0 15px;}
.zbal { display:block; width:94px; background:url(images/al.jpg) no-repeat; text-align:center; line-height:29px; height:30px; color:#FFFFFF; font-weight:bold }
a.zbal { display:block; width:94px; background:url(images/al.jpg) no-repeat; text-align:center; line-height:29px; height:30px; color:#FFFFFF; font-weight:bold }
.ho { font-size:16px; font-family:'풕턼환쥌'; color:#d42e32}

.zuti1 { width:981px; margin:0 auto; overflow:hidden; border-left:1px solid #f38383; border-right:1px solid #f38383; }
.main1 { padding:7px}
.zbct1 { width:720px; float:left;}
.bar21 { overflow:hidden; width:100%; border-bottom:2px solid #f0c0c1}
.bar2lt { float:left; width:135px; height:25px; padding-top:5px; background:url(images/bq.jpg) no-repeat; text-align:center;font-family:'풕턼환쥌'; font-size:13px; color:#FF3300}
.zbct1a { width:770px; float:left; padding-left:10px}
.zbct1a table td { font-size:14px; font-family:'풕턼환쥌'; }
.zbrta { width:94px; float:left; padding:12px 0 0 15px;}
.zbbka { border-bottom:1px dotted #cccccc; padding:13px 0 14px 0; clear:both; _padding-top:8px; }

.gywm { width:218px; float:left; overflow:hidden}
.jkbar { width:196px; line-height:35px; background:url(images/bz1.jpg) no-repeat; font-size:14px; font-weight:bold; padding-left:20px; color:#CC0000 }
.gylb3 { width:214px; border:1px solid #cccccc; background:#F9F9F9; padding:10px 0 10px 0; text-align:center}
.gylb3 a { margin:8px 0; display:block;}
.nrrt { width:740px; float:left; overflow:hidden; padding-left:10px; }
.zdzb { border:1px solid #CCCCCC; background:#ffffff; height:auto !important;height:580px; min-height:580px;}
.zbdh1 { height:33px; background:#F1F1F1; border-bottom:1px solid #CCCCCC}
.zbdh1 h3 { display:block; width:136px; line-height:33px; padding-left:20px; font-size:14px; font-weight:bold; float:left}
.zbdh1 a { float:right; line-height:31px; padding-right:15px;  color:#FD8002}
.zbdh2 { display:block;  width:136px; line-height:33px; padding-left:20px; font-size:14px; color:#cc0000; font-weight:bold; float:left }
.jksm { line-height:29px; overflow:hidden}
.jksmtp { float:left; margin:5px 15px 0 0;}
.jksmbt { background:url(images/jiah.gif) 8px center no-repeat; font-size:16px; font-weight:bold; border-bottom:2px solid #cccccc; line-height:29px; padding-left:28px; margin-top:15px; color:#cc0000 }
.jksmbt1 { font-size:14px; background:#faeeec; line-height:35px; font-weight:bold; padding-left:10px; margin-top:10px; color:#666666}
.tzsz {margin-top:10px; line-height:29px; padding:0 20px;}
.jkpg { width:100%px; height:30px; line-height:30px; text-align:center; padding-top:8px;}

.mas { background-color: #999999;position:absolute;top:0;left:0; width:100%; height:100%;z-index:50;filter:alpha(opacity=5);opacity:0.05;}
.mblt { float:left; width:165px; }
.mblt h3 { font-size:14px; font-weight:bold; padding-left:36px; background:url(images/hbar.jpg) no-repeat; line-height:34px; height:34px; color:#993300}
.mblt .bkb { background:url(images/b11.jpg) repeat-x; line-height:33px; font-weight:bold;}
.mblt .bkb span { display:block; padding-left:40px;}
.mblt .bka { border:1px solid #cccccc; border-top:none}
.mblt ul { padding:5px 0 5px 15px}
.mblt ul li { line-height:24px; padding-left:8px;}
.mbct { float:left; width:568px; padding-left:10px;}
.mbrt1 {float:left; width:230px; padding-left:9px;}
.mbrt { float:left; width:805px; padding-left:10px;}
.yhxx { padding:6px 0 6px 20px;}
.mbbar { height:29px;}
.mbbar1 { width:37px; float:left} 
.mbbar2 { width:524px;float:left; background:url(images/bk_05.jpg) repeat-x; padding-top:9px; height:20px; color:#993300; font-weight:bold }
.mbbar3 { width:7px; float:left} 
.mbbar4 { width:186px; float:left; background:url(images/bk_05.jpg) repeat-x; padding-top:9px; height:20px; color:#993300; font-weight:bold }
.xwk2 { border:1px solid #cccccc; border-top:none; padding:5px 2px }
.dsz { font-size:20px; font-family:Arial, Verdana }
a.anl2 { display:inline-block; padding:0 18px; line-height:27px; background:#a11300; text-align:center; color:#FFFFFF; border:1px solid #660000;}
a.anl3 { display:inline-block; padding:0 18px; line-height:27px; background:#cccccc; text-align:center; color:#333333; border:1px solid #666666;}
.tab {margin-top:15px }
.tab td { border-bottom:1px dotted #cccccc; }
.red1 { font-size:14px; color:#CC0000 }
.tab td a { color:#0088cc; }
.zskf1 { border:1px solid #fac3b8; padding:8px;}
.zskfwz { line-height:25px; padding:8px 0 0 5px;  }
.zskfwz a { color:#e63312; }
.rzxm { padding:15px 6px 15px 55px; font-size:14px; margin-top:18px;}
.rzxm  b { font-size:16px; }
.rzxm a { float:right; color:#0066CC; margin-right:8px; font-size:16px}
.rzxm span { float:right; margin-right:8px;}

.bai { color:#FFFFFF; background:#CC3333; border-right:1px solid #cccccc }
.hei { color:#333333; background:url(images/bk_05.jpg) repeat-x; border-right:1px solid #cccccc}
a.hei1 { font-size:14px; color:#000000}
.bqx { border-left:1px solid #cccccc; border-bottom:1px solid #CC3333; }
.bgtd {padding:5px; line-height:18px}
.tsk { border:1px solid #666666; background:#FFFFEC; padding:8px 10px}
.butt { padding:6px; }
.chen { color:#FF3300; font-size:14px;}
a.chen { color:#FF3300; font-size:14px;}
.bfbk {width:86px; height:12px; overflow:hidden; display:inline-block; font-size:0; position:relative; top:2px; background:url(images/t2.jpg) no-repeat;}
.bfbk1 {height:12px; background:url(images/t1.jpg) no-repeat; display:block;}
.txbk1 { padding:2px; border:1px solid #cccccc; width:65px; overflow:hidden; margin:0 auto;}

.jkxq1 { float:left; width:220px; }
.jkxq2 { float:left; width:751px; border:1px solid #cccccc; margin-left:10px; overflow:hidden }
.jkxq3 {float:left; width:502px; height:200px; padding:10px; background:url(images/bx2.jpg) right center no-repeat; min-height:299px; _height:300px;}
.hyxx { border:1px solid #cccccc; padding-bottom:22px  }
.yhtx { padding:3px; border:1px solid #cccccc; background:#ffffff}
.jkbk { background:url(images/bk_15.jpg) repeat-x; height:30px; line-height:28px; padding-left:18px; font-size:14px; color:#993333; font-family:'풕턼환쥌' }
.zskf2 { float:left; padding:8px; }
.zskf21 { width:352px; float:left; padding:8px; }
.jkbt { padding:5px 0}
.jkbt span { padding-left:10px; font-size:14px; color:#CC0000; float:left;}
.jkbt div { float:left; padding-left:12px;  }
.jkbt div img { vertical-align:middle}
.xqbk2 { border:1px solid #cccccc; margin-top:10px; }
.xqbk3 { padding:8px 0 8px 15px }
.jies {padding:15px 10px 5px 10px; border:1px solid #cccccc; border-top:none; width:961px; margin:0 auto; line-height:24px; height:auto !important;height:100px; min-height:100px;}
.jies table td { font-size:14px; line-height:26px}
.jies1 {padding:10px; border:1px solid #cccccc; width:961px; margin:0 auto; line-height:22px;}
.jkxq2a { overflow:hidden }
.jkxq3a {float:left; width:590px; padding:10px; background:url(images/bx2.jpg) right center no-repeat; }
.table1 td { font-size:14px; border-bottom:1px solid #EFEFEF;  }
.table1 td span { font-size:14px; color:#1581E1}
.tbys {padding:0 0 10px 10px; line-height:35px; font-size:14px;}
.tbys span  { font-size:14px; color:#ff3300}

.dh3 { width:975px; margin:0 auto; line-height:29px; padding-left:10px; }
.bzbk {border:1px solid #cccccc; border-top:none; width:214px; overflow:hidden }
.gylb2 { padding:8px 10px 8px 10px;}
.gylb2 li { line-height:32px; height:32px; background:url(images/arrow_45.gif) 15px center no-repeat; border-bottom:1px dotted #cccccc; padding-left:29px; }
.gylb2 li a { font-size:14px; }
.zdzb1 { border:1px solid #CCCCCC; background:#ffffff; height:auto !important;height:580px; min-height:580px;}
.nrrt1 { /*width:730px; float:left;*/ overflow:hidden; padding-left:10px; }
.kfbk { width:94px; height:140px; position:fixed; right:5px; top:114px; z-index:150; }
#kfal { width:10px; height:140px;background:#fbbebe; }

.wz { padding:10px 7px;}
.wz li {position:relative; line-height:29px; height:29px; }
.wz li a {padding-left:20px; font-size:14px; background:url(images/d.jpg) 8px center no-repeat}
.wz li span {  position:absolute; right:11px; top:2px;}
.wznr { overflow:hidden; padding:0 8px}
.wzbt { font-size:21px; text-align:center; color:#454E53; line-height:30px; height:35px; padding-top:10px;}
.btsj { line-height:20px; border-bottom: 1px solid #cccccc;text-align:right; font-family:Verdana, Arial;}
.infnr1 { font-size:14px; line-height:250%;height:auto !important;height:440px; min-height:440px; padding:8px;}
.infnr1 table td { font-size:14px;}
.infnr { font-size:14px; line-height:250%;height:auto !important;height:480px; min-height:480px; padding:10px 16px;}
.infnr1 a,.infnr a {font-size:14px;}

.inp1 { font-family:Verdana, Arial, sans-serif; font-size:14px; line-height:26px; height:26px}
.dlal { border:none; height:30px; width:220px; background:#a11300; color:#FFFFFF; font-size:14px; font-weight:bold; } 
.lk2 { width: 983px; margin: 0 auto; padding:10px 0px;}
.lk { width:966px; margin:0 auto; border:1px solid #f38383; line-height:20px; padding:3px 8px;}
.lcpg { width:983px; margin:0 auto; background:#ffffff; border:1px solid #cccccc; padding:10px; overflow:hidden }
.zuti1a { width:981px; margin:0 auto; overflow:hidden;  }
.bar21f { overflow:hidden; width:100%; border-bottom:2px solid #55ACFB}
.bar2ltf { float:left; width:135px; height:25px; padding-top:5px; background:#F2F2F2; text-align:center;font-family:'풕턼환쥌'; font-size:13px;}
.bar2f { padding:3px 11px 7px 0;  overflow:hidden;  }
.bar2f div {background:url(images/w_24.jpg) no-repeat;width:17px;height:17px;float:left;margin-top:2px;padding:0; }
.bar2f h3 { font-size:17px; font-family:'풕턼환쥌'; float:left; color:#1581E1; padding-left:8px;} 
.tab5 { font-size:16px; border-top:1px solid #cccccc }
.tab5 a { font-size:16px; color:#1581E1; }
.baia { color:#FFFFFF; background:#55acfb; }
.heia { color:#333333; background:#F0F0F0 repeat-x; border-left:1px solid #ffffff }
.bqxa { border-bottom:1px solid #55acfb; }
.jrjl { font-size:14px; border-top:1px solid #cccccc }
.tab6 {border-bottom:1px solid #55acfb; }
.jral5 { padding:8px 0; width:200px; background:#1581E1; color:#FFFFFF; text-align:center; font-weight:bold; border:none;}
.jral51 { padding:8px 0; width:200px; background:#cccccc; color:#999999; text-align:center; font-weight:bold; border:none;}
.js5 {background:url(images/j.jpg) no-repeat; padding:0 5px}