@charset "utf-8";*{margin:0;padding:0;}
/*添加*/
.index_log_ul1{width:218px;border:1px #ccc solid;background:url(bg2.jpg) repeat-x left bottom;}
.list-main-action{width:80px;padding-top:20px; position:relative; font-size:14px; font-weight: bold;}
a.btn-action{display:inline-block;width:80px;height:30px;text-align:center;line-height:30px;background: url(btn-red.jpg) 0 0;color:#eee;}
a.btn-action:hover{background:url(btn-red.jpg) 0 -30px;}
/*添加*/

a{font-size:13px;text-decoration:none;}
ul{list-style:none;}
img{border:none;}
.clear{height:1px;clear:both;margin-bottom:-1px;overflow:hidden;}

.fc2,.fc2 a{color:#d0393e;}


#main{width:952px;margin:8px auto 0 auto;}
	#main #leftsidebar{width:720px;float:left;}
		#leftsidebar h2{width:720px;height:30px;line-height:30px;background:url(left_box_top.gif) no-repeat;text-indent:10px;font-size:12px;color:#222;margin-top:10px;}
		#leftsidebar .leftsum{width:718px; border:1px #ccc solid;}
			#main_table_list{width:718px; margin-top:10px; border-bottom: 1px #ccc dashed; background: url(bg2.jpg) repeat-x;}
		.sum4{border: 1px #ccc solid;}
			.invest_table_list{width:948px; margin-top:20px;background: url(bg2.jpg) repeat-x;}
				.user_photo_box{border:1px #ccc solid; padding:1px; width:120px;height:120px; margin-left:15px;}
				.user_photo_box_index{border:1px #ccc solid; padding:1px; width:80px;height:80px; margin-left:15px;}
				.borrow_title a{color: blue; font-weight: bold; font-size: 14px; width: 380px; overflow: hidden;}
				.jindu_box{width: 100px; height: 15px; border: 1px #ccc solid;}
					.jindu{width: 100px; height: 15px; display:block;}
	
	#main #rightsidebar{width:218px;float:right;}
		#rightsidebar h3{width:220px;height:30px;line-height:30px;background:url(right_box_top.gif) no-repeat;text-indent:10px;border-bottom:3px solid #e66e0d;font-size:14px;color:#222;position:relative;margin-top:10px;}
		#rightsidebar h3 .h3_more{position:absolute;top:0;right:10px;}
		#rightsidebar h3 .h3_more a{font-size:12px;}
		#rightsidebar .right_form{width:218px;height:155px;background:url(bg2.jpg) repeat-x left bottom;padding-top:10px;position:relative;overflow:hidden;margin-bottom:10px;border:1px #ccc solid;}
		#rightsidebar .right_form p{width:198px;height:30px;line-height:26px;background:url(ico5.jpg) no-repeat right top;position:relative;}
		#rightsidebar .right_form p .p_span{width:65px;display:inline-block;text-align:right;}
		#rightsidebar .right_form p .input{position:absolute;top:3px;left:83px;width:115px;height:20px;line-height:20px;background:none;border:none;}
		#rightsidebar .right_form p.p2{width:210px;height:30px;line-height:26px;background:url(ico6.jpg) no-repeat 72px top;position:relative;}
		#rightsidebar .right_form p.p3{background:none;}
		#rightsidebar .right_form p.p2 .input2{position:absolute;top:3px;left:83px;width:60px;height:20px;line-height:20px;background:none;border:none;}
		#rightsidebar .right_form p.p3 .input3{width:126px;}
		#rightsidebar .right_form p.p2 .p_ico1{position:absolute;top:1px;left:142px;}
		#rightsidebar .right_form .ico1{position:absolute;top:132px;left:40px;width:70px;height:26px;line-height:26px;text-align:center;background:url(ico6.jpg) no-repeat;}
		#rightsidebar .right_form .ico2{position:absolute;top:132px;left:123px;width:70px;height:26px;line-height:26px;text-align:center;background:url(ico6.jpg) no-repeat;}
		#rightsidebar .right_form .ico1 a,#rightsidebar .right_form .ico2 a{color:#204188;font-size:14px;}
		#rightsidebar .rightsum{width:218px;padding:10px 0;border:1px #ccc solid;background:url(bg2.jpg) repeat-x left bottom;}
		#rightsidebar .rightsum li{width:218px;height:22px;line-height:22px;background:url(dian2.gif) no-repeat 15px 8px;text-indent:24px;overflow:hidden;}
		#rightsidebar .rightsum2{width:218px;height:185px;background:#fdfdfd url(bg2.jpg) repeat-x left bottom;padding:20px 0 0px 0;border:1px #ccc solid;}
		#rightsidebar .rightsum2 li{width:178px;height:25px;line-height:25px;text-align:center;background:url(li_bg.jpg) no-repeat;margin:5px auto 0 auto;}
		

#content{width:950px;margin:0 auto;}
	#content h3{height:30px;line-height:30px;border-bottom:3px solid #de301c;text-indent:22px;font-size:14px;background:no-repeat url(main_box_top.gif);}
	#content .search_form{width:902px;border:1px solid #ccc;padding:10px 0 10px 46px;position:relative;margin:0px auto 10px auto;}
	#content .search_form .search_ico{position:absolute;top:68px;left:800px;width:95px;height:26px;background:url(d_ico.gif) no-repeat;border:none;}
	#content .search_form p{height:30px;line-height:22px;}
	#content .search_form p .p_span{width:70px;text-align:right;display:inline-block;}
	#content .search_form .input1{width:130px;margin-right:90px;}
	#content .search_form .input2{width:132px;margin-right:90px;}
	#content .search_form .input3{width:120px;}
	#content .content_tit{height:34px;line-height:34px;text-indent:14px;font-size:14px;background:url(tit2.gif) repeat-x; border-left:1px #ccc solid; border-right:1px #ccc solid;}
	#content .content_tit a{font-size:14px;}

	#content .content_fenye{height:18px;line-height:18px;padding-left:300px;width:650px;margin-top:20px;position:relative;}
	#content .content_fenye .input{width:48px;height:18px;background:url(ico10.gif) no-repeat;border:none;text-align:center;}
	#content .content_fenye .btn{position:absolute;top:0;left:590px;width:48px;height:18px;border:none;background:url(ico9.gif) no-repeat;}
	#content .sum5{width:933px;}
	#content .sum5 .login{width:440px;height:375px;position:relative;float:left;background:url(d_bg.jpg) no-repeat;padding:30px 0 0 26px;}
	#content .sum5 .login p{height:48px;line-height:31px;position:relative;}
	#content .sum5 .login p.p2{position:relative;}
	#content .sum5 .login p.p2 .p_ico{position:absolute;top:2px;left:212px;}
	#content .sum5 .login p.p3{background:none;}
	#content .sum5 .login p .p_span{width:80px;display:inline-block;text-align:right;font-size:16px;}
	#content .sum5 .login p .input{position:absolute;top:3px;left:80px;width:290px;height:20px;line-height:20px;background:none;border:none;}
	#content .sum5 .login .select{width:200px;height:30px;border:1px solid #cbcbcb;background:#ebebeb;}
	#content .sum5 .login .ico1{position:absolute;top:252px;left:70px;width:145px;height:36px;line-height:36px;text-align:center;background:url(d_ico2.jpg) no-repeat;}
	#content .sum5 .login .ico2{position:absolute;top:252px;left:252px;width:145px;height:36px;text-align:center;line-height:36px;background:url(d_ico2.jpg) no-repeat;}
	#content .sum5 .login .login_text{position:absolute;top:330px;left:27px;width:425px;font-size:14px;line-height:30px;}
	#content .sum5 .login .ico1 a,#content .sum5 .login .ico2 a{font-size:16px;color:#d51e17;}
	#content .sum5 .login_text2{width:340px;padding-left:30px;color:#900;font-size:16px;font-weight:bold;}
	#content .sum5 .login dl{width:286px;padding-left:30px;margin-top:5px;}
	#content .sum5 .login dt{height:45px;line-height:45px;font-size:18px;font-weight:bold;}
	#content .sum5 .login dd{height:28px;line-height:28px;font-size:16px;}
	#content .sum5 .login_r_ico{position:absolute;top:352px;left:125px;width:237px;height:37px;line-height:37px;text-indent:-9999px;background:url(ico13.jpg) no-repeat;}
	#content .sum5 .login_r_ico a{color:#fff;width:237px;height:37px;display:block;font-size:16px;}
	#content .sum5 .login_ul{width:423px;height:34px;margin-top:18px;}
	#content .sum5 .login_ul li{width:141px;height:34px;float:left;}
	#content .sum5 .login_ul li img{width:122px;height:34px;overflow:hidden;}
	
#content2{width:950px;margin:0 auto;}
	#content2 h4{height:31px;line-height:31px;font-size:16px;border-bottom:0px solid #242a58;background:no-repeat url(box_top_186.gif);text-indent:32px;margin-top:5px;position:relative;}
	#content2 h4 .h4_more{position:absolute;top:0;right:12px;}
	#content2 #leftside{width:218px;float:left;}
	#content2 #leftside .leftsum1{width:218px;background:url(sum_bg3.gif) repeat-x;padding:6px 0 15px 0;}
	#content2 #leftside .leftsum1 li{width:187px;height:32px;line-height:26px;background:url(li_bg3.jpg) no-repeat;margin:0 auto;text-align:center;}
	#content2 #leftside .leftpic{width:216px;height:368px;border:1px solid #c1c1c1;overflow:hidden;background:url(pic6.jpg) no-repeat;margin-top:12px;}
	#content2 .rightit2{height:27px;line-height:27px;background:url(tit1.jpg) no-repeat;text-indent:26px;font-size:14px;color:#222;border-bottom:3px solid #de2d23;margin-top:10px;font-weight:bold;}
	
#content3{width:950px;margin:0 auto;overflow:hidden;}
	#content3 .tit1{height:27px;line-height:27px;border-bottom:3px solid #318b99;text-indent:22px;font-size:14px;font-weight:bold;position:relative;}
	#content3 .titbg1{background:url(tit1.jpg) no-repeat;}
	#content3 .titbg2{background:url(tit3.jpg) no-repeat;}
	#content3 .tit1 .more{position:absolute;top:0;right:3px;}
	#content3 .sum6{width:950px;}
	#content3 .sum6 dl{width:173px;padding:13px 0 13px 17px;overflow:hidden;float:left;}
	#content3 .sum6 dt{width:151px;height:136px;overflow:hidden;margin-bottom:12px;}
	#content3 .sum6 dd{line-height:22px;text-indent:13px;}
	#content3 .sum6 dd.dd2{height:32px;line-height:32px;background:url(ico24.jpg) no-repeat right top;width:81px;padding-left:13px;text-align:center;text-indent:0;}
	#content3 .sum6 dd.dd2 a{color:#fff;display:block;}
	#content3 .tit2{width:950px;height:35px;padding:12px 0;border-top:1px dashed #c0c0c0;border-bottom:1px dashed #c0c0c0;margin-top:20px;}
	#content3 .tit2 li{width:113px;height:35px;text-align:center;line-height:35px;margin-right:7px;background:url(ico25.jpg) no-repeat;float:left;font-size:14px;font-weight:bold;}
	#content3 .sum7{width:916px;padding:20px 17px 20px 17px;overflow:hidden;}
	#content3 .sum7 p{line-height:22px;}
	#content3 .sum7 p.p2{text-indent:1.5em;color:#c84f17;font-weight:bold;line-height:32px;}
	#content3 .tit3{height:30px;border-bottom:3px solid #e06e14;background:url(tit4.gif) repeat-x;position:relative;text-indent:34px;font-size:14px;line-height:30px;margin-bottom:8px;}
	#content3 .tit3 .ico{position:absolute;top:10px;left:21px;background:url(dian3.gif) no-repeat;width:7px;height:7px;}
	#content3 .tit3 .more{position:absolute;top:0;right:10px;}
	#content3 .sum8{width:680px;float:left;margin-bottom:10px;}
	#content3 .sum8 .sum8_pic{width:278px;height:337px;float:left;overflow:hidden;}
	#content3 .sum8 .sum8_block{width:392px;float:right;}
	#content3 .sum8 .sum8_block .sum8_tit1{width:380px;height:32px;position:relative;background:url(tit5.gif) no-repeat;padding:0 0 0 12px;overflow:hidden;}
	#content3 .sum8 .sum8_block .sum8_tit1 li{width:78px;height:29px;line-height:29px;text-indent:22px;float:left;}
	#content3 .sum8 .sum8_block .sum8_tit1 .more{position:absolute;top:0;right:0;line-height:30px;}
	#content3 .sum8 .sum8_block .sum8_text1{width:360px;padding:6px 0 5px 10px;overflow:hidden;}
	#content3 .sum8 .sum8_block .sum8_text1 li{width:360px;height:21px;line-height:21px;position:relative;overflow:hidden;}
	#content3 .sum8 .sum8_block .sum8_text1 li .sp1{position:absolute;top:0;right:0;}
	#content3 .sum9{width:260px;float:right;margin-bottom:10px;}
	#content3 .sum9 .sum9_block{width:238px;padding:0 0 0 14px;overflow:hidden;}
	#content3 .sum9 .sum9_block li{width:238px;line-height:21px;background:url(dian4.gif) no-repeat left 8px;text-indent:14px;}
	#content3 .tit4{height:40px;line-height:44px;background:url(tit6.gif) repeat-x;position:relative;text-indent:28px;font-weight:bold;overflow:hidden;}
	#content3 .tit4 .ico{position:absolute;bottom:9px;left:8px;background:url(ico26.gif) no-repeat;width:15px;height:17px;}
	#content3 .sum10{width:930px;margin:0 auto;border-bottom:1px solid #f5f5f5;padding:8px 0;overflow:hidden;}
	#content3 .sum10 dt{width:35px;height:35px;float:left;}
	#content3 .sum10 dd{width:878px;float:right;line-height:22px;font-weight:bold;}
	#content3 .sum10 dd.dd2{color:#4f555c;}
	#content3 .tit5{height:34px;background:url(tit7.gif) repeat-x;line-height:34px;text-indent:12px;}
	#content3 .tit6{height:36px;line-height:36px;border-top:1px solid #f5f5f5;border-bottom:1px solid #f5f5f5;text-indent:9px;}
	#content3 .tit6 .sp1{background:url(ico28.gif) no-repeat left 10px;text-indent:20px;padding:0 15px 0 0;display:inline-block;}
	#content3 .tit6 .sp2{background:url(ico29.gif) no-repeat left 10px;text-indent:20px;padding:0 15px 0 0;display:inline-block;}
	#content3 .tit6 .sp3{background:url(ico30.gif) no-repeat left 10px;text-indent:20px;padding:0 15px 0 0;display:inline-block;}
	#content3 .tit6 .sp4{background:url(ico31.gif) no-repeat left 10px;text-indent:20px;padding:0 15px 0 0;display:inline-block;}
	#content3 .tit6 .sp5{background:url(ico32.gif) no-repeat left 10px;text-indent:20px;padding:0 15px 0 0;display:inline-block;}
	#content3 .tit7{height:42px;line-height:42px;text-indent:20px;}
	#content3 .tit7 .sp1{background:url(ico33.gif) no-repeat left 14px;text-indent:20px;display:inline-block;margin-right:100px;}
	
.midside{width:537px;padding:0 10px;float:left;}
	.midside h5{height:31px;line-height:31px;font-size:16px;border-bottom:3px solid #DE301C;background:no-repeat url(box_top_537.gif);text-indent:32px;margin-top:5px;position:relative;}
	.midside h5 span{position:absolute;top:5px;right:10px;font-size:12px;font-weight:normal;}
	.midside .midsum1{width:520px;background:#f7f7f7;border:1px solid #dbdbdd;padding:10px 0 0 15px;}
	.midside .midsum1 dt{width:102px;float:left;}
	.midside .midsum1 dt img{width:96px;height:96px;padding:2px;border:1px solid #dbdad8;overflow:hidden;}
	.midside .midsum1 dt span{width:102px;height:28px;line-height:28px;text-align:center;display:block;overflow:hidden;}
	.midside .midsum1 dd{width:390px;height:30px;line-height:30px;padding-left:18px;float:left;}
	.midside .midsum1 dd span{width:65px;display:inline-block;text-align:right;}
	.midside .midsum2{width:537px;padding:12px 0;background:url(sum_bg3.gif) repeat-x;}
	.midside .midsum2 p{line-height:22px;text-indent:20px;position:relative;}
	.midside .midsum2 p .p_span1{position:absolute;top:0;left:160px;width:300px;}
	.midside .midsum2 p .p_span2{position:absolute;top:0;left:175px;width:130px;}
	.midside .midsum2 p .p_span3{position:absolute;top:0;left:306px;width:100px;}
	.midside .midsum3{width:537px;height:52px;background:url(bg7.jpg) no-repeat left 25px;padding-top:22px;}
	.midside .midsum3 li{width:94px;height:37px;line-height:37px;text-align:center;padding-right:30px;float:left;font-weight:bold;}
	.midside .midsum3 li.li2{width:91px;padding:0;}
	
.sidebar{width:186px;margin:0 auto;float:left;}
	.sidebar .sum1{width:184px;padding-top:7px;}
	.sidebar .sum1 li{width:170px;height:29px;line-height:23px;text-align:center;margin:0 auto;}
	.sidebar .sum1 li a{color:#494748;}
	.sidebar .sum2{width:184px;border:1px solid #ccdadb;padding-bottom:10px;background:#eff4f7;}
	.sidebar .sum2 h6{width:166px;height:32px;line-height:32px;border-bottom:1px solid #dce1e5;margin:0 auto;font-size:12px;color:#346494;}
	.sidebar .sum2 li{width:166px;height:27px;line-height:27px;border-bottom:1px dashed #d7dcdf;margin:0 auto;position:relative;}
	.sidebar .sum2 li span{position:absolute;top:0;right:0;color:#F00;}
	.sidebar .sum3{width:184px;background:url(sum_bg3.gif) repeat-x;padding:11px 0; border:1px #ccc solid;}
	.sidebar .sum3 li{width:185px;height:23px;line-height:23px;text-indent:12px;overflow:hidden;}
	.sidebar .sum4{width:184px;padding:2px 0 20px 0;}
	.sidebar .sum4 li{width:184px;height:25px;line-height:25px;text-align:center;overflow:hidden;margin-top:8px;background:url(ico13.gif) no-repeat;}
	.sidebar .sum4 li a{color:#403f3d;}
	.sidebar .pic{width:184px;height:290px;background:url(pic3.jpg) no-repeat left bottom;}
	
.rightside{width:714px;float:right;}
.rightit{height:31px;line-height:31px;font-size:16px;border-bottom:3px solid #e86c0a;background:#f4f4f2 url(dian.gif) no-repeat 18px 12px;text-indent:32px;margin-top:5px;}
.rightit a{font-size:16px;}
.rightpic{width:714px;border:1px solid #d8d9db;margin:10px auto;}
.right_b{border:1px solid #d8d9db;border-top:none;padding:30px 0 20px 30px;width:682px;}
.right_b dl{width:341px;float:left;}
.right_b dt{width:122px;height:112px;float:left;}
.right_b dd{width:200px;height:28px;line-height:28px;background:url(ico11.gif) no-repeat left 10px;text-indent:18px;position:relative;float:right;}
.right_b dd .qq{position:absolute;top:0;left:0;}